<hr style='border: 1px solid #f0f0f0; margin: 20px 0;' />
<div class='email-footer'>
  <p>© {{currentYear}} Quentin Sautière. Tous droits réservés.</p>
  <div class='social-links'>
    <a href='https://github.com/SautiereQDev' style='color: #333; margin-right: 10px;'>GitHub</a>
    <a
      href='https://linkedin.com/in/quentinsautiere'
      style='color: #333; margin-right: 10px;'
    >LinkedIn</a>
    <a href='https://quentinsautiere.com' style='color: #333;'>Site Web</a>
  </div>
  <p style='font-size: 12px; color: #666; margin-top: 20px;'>
    Ce message est confidentiel. Si vous n'êtes pas le destinataire prévu, merci de contacter
    l'expéditeur.
  </p>
</div>